{% extends "base.html" %}
{% load static %}

{% block title %}History{{ object.username }}{% endblock %}

{% block content %}
<div class="container">
    <h1>History</h1>

    <div class="container" style="min-height: 700px;">
        <table class="table">
        <thead>
            <tr>
            <th scope="col">id</th>
            <th scope="col">Supplier</th>
            <th scope="col">Original Value</th>
            <th scope="col">Expiration Date</th>
            <th scope="col">status</th>

            </tr>
        </thead>
        <tbody>
        {% for payment in payments%}

            <tr>
            <th scope="row">{{payment.id}}</th>
            <td>{{payment.supplier}}</td>
            <td>{{payment.original_value}}</td>
            <td>{{payment.expiration_date}}</td>
            <td>{{payment.request_status}}</td>
            </tr>

        {% endfor %}
        </tbody>
        </table>
    </div>

    <!-- ======= PAGINATION ======= -->

    <nav aria-label="Navegação de página exemplo" style="margin-top: 10px;">
        <ul class="pagination " class="flex-container" style="justify-content: center; align-items: flex-end; align-content: center;">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"> &laquo; </a></li>
            {% endif %}

            <li class="page-item"><a class="page-link" href="">{{ page_obj.number }} - {{ page_obj.paginator.num_pages }}</a></li>
            
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> &raquo; </a></li>
            {% endif %}
        </ul>
    </nav>

</div>
{% endblock content %}
