{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">
    <h1>Payments</h1>

    <div class="container" style="min-height: 700px;">
        {% for payment in payments%}
        
            {% if payment.request_status == "Antecipado"%}
                <div class="p-5 mb-4 bg-light rounded-3" style="background-color: gainsboro;">
                    <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Supplier: {{payment.supplier}}</h1>
                    <p class="col-md-8 fs-4">Expiration Date: <b>{{payment.expiration_date}}</b></p>
                    <p class="col-md-8 fs-4">Request Status : <b>{{payment.request_status}}</b></p>
                    <p class="col-md-8 fs-4">Original value: <b>{{payment.original_value}}</b></p>
                    <p class="col-md-8 fs-4" style="color:green;"><b>Antecipado</b></p>
                    </div>
                </div>
            {% elif payment.request_status == "Negado"%}
                <div class="p-5 mb-4 bg-light rounded-3" style="background-color: gainsboro;">
                    <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Supplier: {{payment.supplier}}</h1>
                    <p class="col-md-8 fs-4">Expiration Date: <b>{{payment.expiration_date}}</b></p>
                    <p class="col-md-8 fs-4">Request Status : <b>{{payment.request_status}}</b></p>
                    <p class="col-md-8 fs-4">Original value: <b>{{payment.original_value}}</b></p>
                    <p class="col-md-8 fs-4" style="color:red;"><b>Negado</b></p>
                    </div>
                </div>
            {% elif payment.request_status == "Aguardando confirmação"%}
                <div class="p-5 mb-4 bg-light rounded-3" style="background-color: gainsboro;">
                    <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Supplier: {{payment.supplier}}</h1>
                    <p class="col-md-8 fs-4">Expiration Date: <b>{{payment.expiration_date}}</b></p>
                    <p class="col-md-8 fs-4">Request Status : <b>{{payment.request_status}}</b></p>
                    <p class="col-md-8 fs-4">Original value: <b>{{payment.original_value}}</b></p>
                    <p class="col-md-8 fs-4" style="color:yellowgreen;"><b>Aguardando confirmação</b></p>
                    </div>
                </div>
            {% else %}
                <div class="p-5 mb-4 bg-light rounded-3" style="background-color: gainsboro;">
                    <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Supplier: {{payment.supplier}}</h1>
                    <p class="col-md-8 fs-4">Expiration Date: <b>{{payment.expiration_date}}</b></p>
                    <p class="col-md-8 fs-4">Request Status : <b>{{payment.request_status}}</b></p>
                    <p class="col-md-8 fs-4">Original value: <b>{{payment.original_value}}</b></p>
                    <button class="btn btn-primary btn-lg" type="button">Solicita</button>
                    </div>
                </div>
            {% endif %}

        {% endfor %}
    </div>

    <!-- ======= PAGINATION ======= -->
    <nav aria-label="Navegação de página exemplo" style="margin-top: 10px;">
        <ul class="pagination " class="flex-container" style="justify-content: center; align-items: flex-end; align-content: center;">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"> &laquo; </a></li>
            {% endif %}

            <li class="page-item"><a class="page-link" href="">{{ page_obj.number }} - {{ page_obj.paginator.num_pages }}</a></li>
            
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> &raquo; </a></li>
            {% endif %}
        </ul>
    </nav>

</div>

<!-- <div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %} -->
<!-- Action buttons -->
<!-- <div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a> -->
    <!-- Your Stuff: Custom user template urls -->
  <!-- </div>

</div> -->
<!-- End Action buttons -->
<!-- {% endif %} -->

</div>
{% endblock content %}